body{
    height: 100vh;
    //background: linear-gradient(to top left, powderblue, pink);
    background: linear-gradient(to right,#0072ff,#00c6ff);
}

.main-wrap{
    display: flex;
    flex-direction: column;
    align-items: center;  
}